/* ----------------------------------------------------- start variables */
:root {
  --main_color: #d4af37;
  --body_color: #1d2024;
  --body2_color: #333333;
  --body3_color: #2a2b31;
}
@font-face {
  font-family: "DIN Next Arabic ULTRALIGHT";
  src: url(../fonts/DIN_NEXT_ARABIC_ULTRALIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic LIGHT";
  src: url(../fonts/DIN_NEXT_ARABIC_LIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic MEDIUM";
  src: url(../fonts/DIN_NEXT_ARABIC_MEDIUM.otf);
}

@font-face {
  font-family: "DIN Next Arabic regular";
  src: url(../fonts/DIN_NEXT_ARABIC_REGULAR.otf);
}
@font-face {
  font-family: "DIN Next Arabic BOLD";
  src: url(../fonts/DIN_NEXT_ARABIC_BOLD.otf);
}

/* ----------------------------------------------------- end variables */
/* -------------------------------------------------start stander */
*,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DIN Next Arabic regular";
  color: #ffffff;
}
body {
  position: relative;
  background-color: var(--body_color);
  direction: rtl;
}

section {
  overflow: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff !important;
}
img {
  width: 100%;
  height: auto;
}

@media (min-width: 1550px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 90%;
  }
}
@media (max-width: 1550px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 85%;
  }
}
@media (max-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 95%;
  }
}
@media (max-width: 576px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 94%;
  }
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--body_color);
}

::-webkit-scrollbar-thumb {
  background: #d4af37a6;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main_color);
}
::selection {
  background-color: var(--main_color);
}
/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}
/* ---------- */
.loading {
  position: fixed;
  background-color: var(--body_color);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img {
  width: 4rem;
}
.HideLoading {
  display: none !important;
}
/* button of go to top of page */
.hide {
  display: none !important;
}

.toTop {
  position: fixed;
  bottom: 4rem;
  left: 2rem;
  background-color: #000;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 100;
  display: flex;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}

.toTop img {
  width: 1.3rem;
}
.toTop:hover {
  opacity: 1;
}
@media (max-width: 992px) {
  .toTop {
    bottom: 2rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
  .toTop img {
    width: 1rem;
  }
}
.dropdown .dropdown-item {
  text-align: right;
  color: grey !important;
  font-family: "DIN Next Arabic regular";
}
.dropdown .dropdown-menu {
  border-radius: 0;
  max-height: 15rem;
  overflow: auto;
}
/* -------------------------------------------------end stander */
/* -------------------------------------------------start header */
header {
  width: 100%;
  height: 100vh;
  background-image: url(../imges/HeaderBack.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
header .container {
  width: 100%;
  height: 100vh;
  position: relative;
}
header .FstHeader {
  padding-top: 1.5rem;
}
header .FstHeader .navbar-nav li.dropdown ul {
  padding: 0rem !important;
  border-radius: 0.5rem;
  background-color: var(--body_color);
  border: 1px solid rgb(73, 73, 73);
}
header .FstHeader .navbar-nav li.dropdown ul li {
  margin: 0.5rem;
}
header .FstHeader .navbar-nav li.dropdown ul li a {
  border-radius: 0.3rem;
  font-size: 20px;
  color: #fff !important;
}
header .FstHeader .navbar-nav li.dropdown ul li a:hover {
  background-color: var(--body2_color);
}
header .FstHeader .navbar-nav li {
  margin: 1rem;
}
header .FstHeader .navbar-nav li a {
  font-size: 22px;
  padding: 0.2rem 0.5rem 0.4rem !important;
  display: inline-block;
  font-family: "DIN Next Arabic LIGHT";
  border-radius: 0.2rem;
  position: relative;
}
header .FstHeader .navbar-nav li a > span {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  width: 0%;
  height: 0.11rem;
  background-color: var(--main_color);
  transition: all 0.3s ease-in-out;
}
header .FstHeader .navbar-nav li a:hover > span {
  width: 100%;
}
header .FstHeader .navbar-nav li a.active > span {
  width: 100%;
}
header .FstHeader .navbar-nav > li.Company a {
  padding: 0.2rem 1rem 0.4rem !important;
  font-family: "DIN Next Arabic LIGHT";
  border-radius: 0.2rem;
  border: 1px solid #ffffff3f;
}

header .FstHeader .navbar-nav > li.Bayer > a {
  border: 1px solid var(--main_color);
  background-color: var(--main_color);
  min-width: 7rem;
  text-align: center;
}

header .FstHeader .navbar-nav > li:last-of-type img {
  width: auto;
}

header .SecHeader {
  position: relative;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .SecHeader > div.HeaderSwiper {
  overflow: hidden;
  text-align: center;
  direction: rtl;
}
header .SecHeader > div.HeaderSwiper .swiper-slide p {
  font-size: 80px;
  text-transform: uppercase;
  font-family: "DIN Next Arabic MEDIUM";
}
header .SecHeader > div.HeaderSwiper .swiper-slide p span {
  color: var(--main_color);
}
header .search .dropdown-toggle::after {
  display: none;
}
header .search {
  margin-left: 2rem;
  min-width: 15rem;
  border-radius: 0.3rem;
  border: 1px solid grey;
}
header .search .dropdown-menu {
  background-color: #1d2024;
  border: 1px solid #616161;
  border-radius: 0.5rem;
  max-height: 30rem;
}
header .search input {
  text-align: right;
  padding: 0.65rem;
  outline: none;
  width: 100%;
  display: block;
  background-color: var(--body_color);
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
}
header .search input::placeholder {
  color: #ccc;
}
header .search .dropdown-menu {
  width: 30vw;
  left: -70%;
}
header .SecHeader .btns a {
  background-color: var(--main_color);
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  margin: 0 0.6rem;
  font-size: 25px;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  font-family: "DIN Next Arabic LIGHT";
}
header .SecHeader .btns a:hover {
  animation: wiggle 2s linear infinite;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main_color);
  width: 4rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button::after {
  display: none;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button.swiper-button-prev1 {
  right: 0;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button.swiper-button-next1 {
  left: 0;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button img {
  width: auto;
}
header .outer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .outer p {
  font-size: 25px;
}
.swiper-pagination {
  position: relative !important;
  width: unset !important;
}
.swiper-pagination span {
  width: 0.8rem;
  display: block;
  margin: auto !important;
  margin-bottom: 0.7rem !important;
  height: 0.8rem;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 50%;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main_color);
  width: 1.1rem;
  height: 1.1rem;
}

/* for language swiper */
header .SecHeader > div.HeaderSwiper .swiperBtn button {
  transform: rotate(180deg);
}
/* ------------------ */
@media (max-width: 1550px) {
  header .navbar-brand img {
    width: 14rem;
  }
  header .search {
    min-width: 9rem;
  }
  header .search input {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  header .FstHeader {
    padding-top: 1rem;
  }

  header .FstHeader .navbar-nav li.dropdown ul li a {
    border-radius: 0.2rem;
    font-size: 1rem;
  }
  header .FstHeader .navbar-nav li {
    margin: 0.5rem;
  }
  header .FstHeader .navbar-nav li a {
    font-size: 1rem;
  }

  header .FstHeader .navbar-nav > li.Bayer > a {
    min-width: 5rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 35px;
    line-height: 4rem;
  }

  header .SecHeader .btns a {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  header .SecHeader > div.HeaderSwiper .swiperBtn button {
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.4rem;
  }

  header .outer p {
    font-size: 18px;
  }
  header .SecHeader {
    height: 80%;
  }
  .swiper-pagination span {
    width: 0.7rem;
    margin-bottom: 0.5rem !important;
    height: 0.7rem;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 992px) {
  .FstHeader {
    direction: rtl !important;
  }
  header .navbar-brand img {
    width: 15rem;
  }
  header .search input {
    margin: 0;
    width: 100%;
  }
  header .search .dropdown-menu {
    position: absolute !important;
    left: 0;
    width: 90vw;
  }
  header .container,
  header {
    height: auto !important;
    background-size: 100% 100%;
  }
  header .SecHeader {
    height: auto;
  }

  header .navbar-nav {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }
  header .FstHeader .navbar-nav li:nth-of-type(1),
  header .FstHeader .navbar-nav li:nth-of-type(2),
  header .FstHeader .navbar-nav li:nth-of-type(3),
  header .FstHeader .navbar-nav li:nth-of-type(4),
  header .FstHeader .navbar-nav li:last-of-type {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  header .FstHeader .navbar-nav li:last-of-type {
    margin-top: 1rem;
  }
  header .FstHeader .navbar-nav > li.Company a {
    margin-left: 0rem;
  }
  header .FstHeader .navbar-nav li a > span {
    bottom: -0.1rem;
    height: 0.1rem;
  }
  header .FstHeader .navbar-nav li a {
    font-size: 1rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 35px;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
    margin-top: 4rem;
  }
  header .SecHeader > div.HeaderSwiper .swiper-slide p span.smallSize {
    font-size: 30px;
  }
  header .SecHeader .btns {
    display: block;
    margin-bottom: 8rem;
  }
  header .SecHeader .btns a {
    font-size: 0.95rem;
    margin: 0.5rem auto;
    width: auto;
  }
  header .SecHeader > div.HeaderSwiper .swiperBtn button {
    width: 2rem;
  }
  header .outer {
    width: 90%;
  }

  header .outer p {
    font-size: 11px;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 576px) {
  header .search input {
    width: 100%;
  }
  header .navbar-brand img {
    width: 11rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 22px;
    margin-top: 3rem;
  }
  header .SecHeader > div.HeaderSwiper .swiper-slide p span.smallSize {
    font-size: 20px;
  }
  header .SecHeader .btns {
    display: block;
    margin-bottom: 5rem;
  }
}
/* ------------------------------------------------------------end header */

/* --------------------------------------------------------------start main */

/* -------start CategoriesSearch */
.CategoriesSearch {
  margin-top: 4rem;
  z-index: 100;
  position: relative;
}

.CategoriesSearch .SearchBlock {
  width: 85%;
  background-color: var(--body2_color);
  margin: 2rem auto;
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem 2rem 1rem;
}
.CategoriesSearch .SearchBlock > p {
  font-size: 60px;
  color: var(--main_color);
  text-transform: uppercase;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 600;
  margin-top: 2rem;
}
.CategoriesSearch .SearchBlock > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 4rem auto;
}
.CategoriesSearch .SearchBlock > div select {
  background-color: #ffffff;
  color: #1d2024;
  width: 48%;
  border-radius: 0.2rem;
  color: grey !important;
  font-size: 20px;
  padding: 0.5rem;
}

.CategoriesSearch .SearchBlock > div select option {
  padding: 0.8rem 1.5rem;
  text-align: right;
  font-size: 20px;
  width: 100%;
  color: grey;
  box-shadow: none;
  position: relative;
  font-family: "DIN Next Arabic regular";
}

@media (max-width: 1550px) {
  .CategoriesSearch .SearchBlock {
    border-radius: 1rem;
    padding: 2rem 1rem 1rem;
  }
  .CategoriesSearch .SearchBlock > p {
    font-size: 33px;
    margin-top: 1rem;
  }
  .CategoriesSearch .SearchBlock > div {
    margin: 2rem auto;
  }

  .CategoriesSearch .SearchBlock > div select {
    padding: 0.6rem;
    font-size: 1rem;
  }
  .CategoriesSearch .SearchBlock > div select option {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .CategoriesSearch .SearchBlock > p {
    font-size: 1.5rem;
    margin-top: 0rem;
  }
  .CategoriesSearch .SearchBlock > div {
    margin: 1rem auto;
  }

  .CategoriesSearch .SearchBlock > div select option {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
  }
}
@media (max-width: 576px) {
  .CategoriesSearch .SearchBlock > p {
    margin-bottom: 2rem;
  }
  .CategoriesSearch .SearchBlock > div {
    display: block;
  }
  .CategoriesSearch .SearchBlock > div select {
    width: 100%;
    margin-bottom: 0.6rem;
  }

  .CategoriesSearch .title {
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .CategoriesSearch .SearchBlock {
    padding: 1rem 1rem 1rem;
    width: 100%;
  }

  .CategoriesSearch .SearchBlock > p {
    font-size: 19px;
  }
}
/* -------end CategoriesSearch */
/* -------start AllItems */
.AllItems {
  background-color: var(--body2_color);
  border-radius: 0.8rem;
  text-align: center;
  padding: 4rem;
}
.AllItems > span:first-of-type {
  margin-bottom: 4rem;
  display: inline-block;
  font-size: 35px;
  color: var(--main_color);
  text-transform: capitalize;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 600;
}
.AllItems .card {
  background-color: var(--body3_color);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 1rem;
}
.AllItems .card .card-img-top {
  position: relative;
}
.AllItems .card .card-img-top::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}
.AllItems .card:hover {
  transform: scale(1.05);
}
.AllItems .card:hover .card-img-top::after {
  opacity: 0;
}
.AllItems .card .card-body {
  padding: 1rem 2rem;
}
.AllItems .card .card-body > p {
  font-size: 25px;
}
.AllItems .card .card-body > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AllItems .card .card-body > div p {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.AllItems .card .card-body > div p img {
  width: auto;
  margin-left: 0.5rem;
}

.AllItems .more {
  position: relative;
  width: 100%;
  margin: 2rem 0 0;
}
.AllItems .more button {
  background-color: transparent;
  border: none;
}
.AllItems .more button:first-of-type {
  animation: moving 1s ease-in-out infinite alternate;
}
.AllItems .more a {
  position: absolute;
  top: 50%;
  right: 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 0.5rem 2.5rem;
  transition: all 0.3s ease-in-out;
}
.AllItems .more button:last-of-type:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 1550px) {
  .AllItems > span:first-of-type {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .AllItems {
    padding: 3rem;
  }

  .AllItems .card .card-body {
    padding: 1rem 1rem;
  }
  .AllItems .card .card-body > p {
    font-size: 18px;
  }

  .AllItems .card .card-body > div p {
    font-size: 1rem;
  }
  .AllItems .card .card-body > div p img {
    margin-right: 0.4rem;
  }
  .AllItems .more {
    margin: 1rem 0 1rem;
  }

  .AllItems .more a {
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 992px) {
  .AllItems > span:first-of-type {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .AllItems {
    padding: 2rem;
  }

  .AllItems .card .card-body {
    padding: 1rem 1rem;
  }
  .AllItems .card .card-body > p {
    font-size: 15px;
  }

  .AllItems .card .card-body > div p {
    font-size: 0.8rem;
  }

  .AllItems .more a {
    padding: 0.4rem 1rem;
  }
}
@media (max-width: 576px) {
}
/* -------end AllItems */
/* -------start blogs */
.blogs {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.blogs .title {
  font-size: 60px;
  color: var(--main_color);
  text-transform: uppercase;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 600;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}
.blogs > div {
  background-color: var(--body2_color);
  border-radius: 2rem;
  padding: 4rem;
}
.blogs > div > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid grey;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.blogs > div > div > div:first-of-type img {
  width: auto;
}
.blogs > div > div > div:first-of-type {
  margin-left: 5%;
}
.blogs > div > div > div:last-of-type {
  height: 100%;
}
.blogs > div > div > div:last-of-type p:first-of-type {
  font-size: 2.8rem;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 500;
}
.blogs > div > div > div:last-of-type p:last-of-type {
  font-size: 1.4rem;
  font-family: "DIN Next Arabic LIGHT";
  width: 70%;
}
.blogs > div > div > div:last-of-type div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}
.blogs > div > div > div:last-of-type div a {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  font-family: "DIN Next Arabic LIGHT";
}
.blogs > div > div:hover > div:last-of-type div a {
  animation: wiggle 2s linear infinite;
}
.blogs > div > div > div:last-of-type div a img {
  transform: rotate(90deg) translateX(0.3rem);
  margin-right: 0.3rem;
  width: 0.9rem;
}
.blogs > div > a {
  margin: 4rem auto 0rem;
  display: block;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000 !important;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 6rem;
  transition: all 0.3s ease-in-out;
}
.blogs > div > a:hover {
  color: #fff !important;
  background-color: var(--body_color);
}
@media (max-width: 1550px) {
  .blogs {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .blogs .title {
    font-size: 37px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .blogs > div {
    border-radius: 1rem;
    padding: 3rem;
  }
  .blogs > div > div {
    padding: 2rem;
    border-radius: 0.6rem;
    margin-bottom: 1.5rem;
  }
  .blogs > div > div > div:first-of-type img {
    width: 90%;
  }
  .blogs > div > div > div:last-of-type p:first-of-type {
    font-size: 1.8rem;
  }
  .blogs > div > div > div:last-of-type p:last-of-type {
    font-size: 1.1rem;
    width: 80%;
  }
  .blogs > div > div > div:last-of-type div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .blogs > div > div > div:last-of-type div a {
    font-size: 1rem;
  }

  .blogs > div > div > div:last-of-type div a img {
    width: 0.7rem;
  }
  .blogs > div > a {
    margin: 2rem auto 0rem;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .blogs {
    margin-bottom: 1rem;
  }
  .blogs .title {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .blogs > div {
    padding: 2rem;
  }
  .blogs > div > div {
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .blogs > div > div > div:first-of-type img {
    width: 100%;
  }
  .blogs > div > div > div:last-of-type p:first-of-type {
    font-size: 1.2rem;
  }
  .blogs > div > div > div:last-of-type p:last-of-type {
    font-size: 0.9rem;
    width: 95%;
  }

  .blogs > div > div > div:last-of-type div a {
    font-size: 0.9rem;
  }

  .blogs > div > a {
    margin: 2rem auto 0rem;
    font-size: 0.9rem;
    padding: 0.3rem;
  }
}
@media (max-width: 576px) {
  .blogs .title {
    font-size: 20px;
  }
  .blogs > div {
    padding: 2rem;
  }
  .blogs > div > div {
    padding: 1rem;
    display: block;
  }
  .blogs > div > div > div:first-of-type img {
    width: 80%;
    margin: 1rem auto;
    display: block;
  }
  .blogs > div > div > div:last-of-type p:first-of-type {
    font-size: 1rem;
  }
  .blogs > div > div > div:last-of-type p:last-of-type {
    font-size: 0.8rem;
    width: 100%;
  }
}
/* -------end blogs */
/* -------start FAQ */
.FAQ {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.FAQ .title {
  font-size: 60px;
  color: var(--main_color);
  text-transform: uppercase;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 600;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}
.FAQ > div {
  background-color: var(--body2_color);
  border-radius: 2rem;
  padding: 4rem;
}
.FAQ > div > a {
  margin: 4rem auto 0rem;
  display: block;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000 !important;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 6rem;
  transition: all 0.3s ease-in-out;
}
.FAQ > div > a:hover {
  color: #fff !important;
  background-color: var(--body_color);
}
.FAQ > div .accordion-item {
  background-color: transparent;
  border: 2px solid grey;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.FAQ > div .accordion-item .accordion-button {
  background-color: transparent;
  color: #fff;
  font-size: 1.7rem;
  box-shadow: none;
  position: relative;
  padding: 2.5rem;
  padding-left: 4rem;
}
.FAQ > div .accordion-item .accordion-body {
  background-color: transparent;
  color: #fff;
  font-size: 1.4rem;
  box-shadow: none;
  padding: 2rem;
  font-family: "DIN Next Arabic LIGHT";
  padding-top: 0;
  width: 80%;
}
.FAQ > div .accordion-button::after {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  content: "+";
  background-image: none;
  font-size: 3.1rem;
  width: 3rem;
  height: 70%;
}
.FAQ > div .accordion-button:not(.collapsed)::after {
  content: "-" !important;
  font-size: 3.5rem !important;
}
@media (max-width: 1550px) {
  .FAQ {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .FAQ > div > a {
    margin: 2rem auto 0rem;
    font-size: 1rem;
    border-radius: 4rem;
  }
  .FAQ .title {
    font-size: 37px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .FAQ > div {
    border-radius: 1rem;
    padding: 3rem;
  }
  .FAQ > div .accordion-item {
    border: 1px solid grey;
    margin-bottom: 1.5rem;
    border-radius: 0.6rem;
  }
  .FAQ > div .accordion-item .accordion-button {
    font-size: 1.3rem;
    padding: 1.5rem;
  }
  .FAQ > div .accordion-item .accordion-body {
    font-size: 1.1rem;
    padding: 1.5rem;
    width: 90%;
  }
  .FAQ > div .accordion-button::after {
    top: 65%;
    transform: translateY(-50%);
    font-size: 2.1rem;
    width: 3rem;
    height: 100%;
  }
  .FAQ > div .accordion-button:not(.collapsed)::after {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 992px) {
  .FAQ {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .FAQ > div > a {
    margin: 2rem auto 0rem;
    font-size: 0.9rem;
    padding: 0.3rem;
  }
  .FAQ .title {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .FAQ > div {
    padding: 2rem;
  }
  .FAQ > div .accordion-item {
    margin-bottom: 1rem;
  }
  .FAQ > div .accordion-item .accordion-button {
    font-size: 1.2rem;
    padding-left: 3rem;
  }
  .FAQ > div .accordion-item .accordion-body {
    font-size: 0.9rem;
    padding: 1.5rem;
    width: 90%;
    padding-top: 0rem;
  }
}
@media (max-width: 576px) {
  .FAQ .title {
    font-size: 20px;
  }
  .FAQ > div .accordion-button::after {
    top: 75%;
    transform: translateY(-50%);
    font-size: 1.7rem;
    width: 2rem;
  }
  .FAQ > div .accordion-button:not(.collapsed)::after {
    top: 55%;
  }
  .FAQ > div .accordion-item .accordion-button {
    font-size: 1rem;
  }
  .FAQ > div .accordion-item .accordion-body {
    font-size: 0.8rem;
    width: 100%;
  }
}
/* -------end FAQ */
/* -------start TotalRates */
.TotalRates {
  margin-top: 11rem;
  margin-bottom: 9rem;
}
.TotalRates > div {
  margin: 5rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.TotalRates > div > div {
  background-color: #333333;
  width: 30%;
  border-radius: 1rem;
  height: 12rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.322);
}
.TotalRates > div > div:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.TotalRates > div > div > div:first-of-type {
  border-bottom: 2px solid var(--main_color);
  padding: 1rem 2rem;
}
.TotalRates > div > div > div:first-of-type p {
  margin: 0;
  font-size: 1.3rem;
  color: var(--main_color);
}
.TotalRates > div > div > div:last-of-type {
  padding: 1rem 3rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TotalRates > div > div > div:last-of-type > div > p:first-of-type {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.TotalRates > div > div > div:last-of-type > div > p:last-of-type {
  font-size: 1rem;
}
.TotalRates > div > div > div:last-of-type > div > img {
  width: auto;
}

.TotalRates > div .TotalUsers .imgs {
  width: 5rem;
  height: 2.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.TotalRates > div .TotalUsers .imgs span {
  width: 0.35rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  display: inline-block;
}
.TotalRates > div .TotalUsers .imgs span:nth-of-type(1),
.TotalRates > div .TotalUsers .imgs span:nth-of-type(2) {
  background-color: var(--main_color);
}
.TotalRates > div .TotalUsers .imgs span:nth-of-type(2),
.TotalRates > div .TotalUsers .imgs span:nth-of-type(3) {
  height: 1.5rem;
}

.TotalRates > div .TotalUsers .imgs span:nth-of-type(4) {
  height: 1.8rem;
}
.TotalRates > div .TotalUsers .imgs span:nth-of-type(5) {
  height: 1.2rem;
}
.TotalRates > div .TotalUsers .imgs span:nth-of-type(6) {
  height: 1.6rem;
}
.TotalRates > div .TotalUsers .imgs span:nth-of-type(7) {
  height: 2rem;
}
@media (max-width: 1550px) {
  .TotalRates {
    margin-top: 6rem;
    margin-bottom: 5rem;
  }
  .TotalRates > div {
    margin: 4rem auto 0;
  }
  .TotalRates > div > div {
    border-radius: 0.5rem;
    height: 10rem;
  }

  .TotalRates > div > div > div:first-of-type {
    padding: 1rem 1.5rem;
  }
  .TotalRates > div > div > div:first-of-type p {
    font-size: 1.2rem;
  }
  .TotalRates > div > div > div:last-of-type {
    padding: 0.6rem 2rem 0 1.5rem;
  }
  .TotalRates > div > div > div:last-of-type > div > p:first-of-type {
    font-size: 1.6rem;
  }
  .TotalRates > div > div > div:last-of-type > div > p:last-of-type {
    font-size: 0.9rem;
  }

  .TotalRates > div .TotalUsers .imgs span {
    width: 0.28rem;
    height: 2.2rem;
  }
}
@media (max-width: 992px) {
  .TotalRates > div {
    margin: 4rem auto 0;
    flex-wrap: wrap;
  }
  .TotalRates > div > div {
    width: 49%;
    height: 10.5rem;
    margin-bottom: 1rem;
  }
  .TotalRates > div > div:last-of-type {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .TotalRates > div > div {
    width: 100%;
  }
}
/* -------end TotalRates */
/* --------------------------------------------------------------end main */

/* -------------------------------------------------------------------start footer */
footer .FstFooter {
  background-color: #000;
  padding: 4rem 0;
  margin-top: 4rem;
}
footer .FstFooter img {
  width: auto;
}
footer .FstFooter > div > div > div:first-of-type p {
  font-size: 26px;
  padding-left: 5rem;
  font-family: "DIN Next Arabic LIGHT";
  line-height: 3rem;
  margin-top: 1.5rem;
}
footer .FstFooter .listTitle {
  font-size: 28px;
  color: var(--main_color);
  margin-bottom: 4rem;
}

footer .FstFooter > div > div > div:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a {
  margin-left: 1rem;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a svg {
  transition: all 0.3s ease-in-out;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a:hover svg {
  transform: scale(1.1);
  opacity: 1;
}
footer
  .FstFooter
  > div
  > div
  > div:nth-of-type(2)
  > div
  a:nth-of-type(1):hover
  svg {
  fill: #4267b2;
}
footer
  .FstFooter
  > div
  > div
  > div:nth-of-type(2)
  > div
  a:nth-of-type(2):hover
  svg {
  fill: #1da1f2;
}
footer
  .FstFooter
  > div
  > div
  > div:nth-of-type(2)
  > div
  a:nth-of-type(3):hover
  svg {
  fill: #cc2366;
}
footer
  .FstFooter
  > div
  > div
  > div:nth-of-type(2)
  > div
  a:nth-of-type(4):hover
  svg {
  fill: #25d366;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul {
  margin: 0;
  padding: 0;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul li {
  margin-bottom: 1rem;
  font-size: 20px;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul li img {
  margin-left: 0.6rem;
}

footer .SecFooter {
  background-color: var(--body2_color);
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
footer .SecFooter > span {
  color: var(--main_color);
}
@media (max-width: 1550px) {
  footer .FstFooter {
    padding: 3rem 0;
    margin-top: 3rem;
  }
  footer .FstFooter > div > div > div:first-of-type img {
    width: 16rem;
    margin-top: 2rem;
  }
  footer .FstFooter > div > div > div:first-of-type p {
    font-size: 17px;
    padding-left: 2rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
  }

  footer .FstFooter .listTitle {
    font-size: 23px !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(2) > div a {
    margin-left: 0.5rem;
  }
  footer .FstFooter > div > div > div:nth-of-type(2) > div a svg {
    width: 1.5rem;
  }
  footer .FstFooter > div > div > div:nth-of-type(3) ul li {
    margin-bottom: 0.7rem;
    font-size: 17px;
  }

  footer .SecFooter {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  footer .FstFooter {
    padding: 2rem 0;
    margin-top: 2rem;
  }

  footer .FstFooter > div > div > div:first-of-type p {
    font-size: 15px;
    padding-left: 0rem;
    line-height: 2rem;
  }

  footer .FstFooter .listTitle {
    font-size: 17px;
    margin-bottom: 1rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(3) ul li {
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  footer .FstFooter > div > div > div:nth-of-type(3) ul li img {
    margin-left: 0.4rem;
  }

  footer .SecFooter {
    padding: 0.7rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  footer .FstFooter > div > div > div:first-of-type img {
    margin-left: -1rem;
  }
}

/* -------------------------------------------------------------------end footer */
