/* ----------------------------------------------------- start variables */
:root {
  --main_color: #d4af37;
  --body_color: #1d2024;
  --body2_color: #333333;
  --body3_color: #2a2b31;
}
@font-face {
  font-family: "DIN Next Arabic ULTRALIGHT";
  src: url(../fonts/DIN_NEXT_ARABIC_ULTRALIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic LIGHT";
  src: url(../fonts/DIN_NEXT_ARABIC_LIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic MEDIUM";
  src: url(../fonts/DIN_NEXT_ARABIC_MEDIUM.otf);
}

@font-face {
  font-family: "DIN Next Arabic regular";
  src: url(../fonts/DIN_NEXT_ARABIC_REGULAR.otf);
}
@font-face {
  font-family: "DIN Next Arabic BOLD";
  src: url(../fonts/DIN_NEXT_ARABIC_BOLD.otf);
}

/* ----------------------------------------------------- end variables */
/* -------------------------------------------------start stander */
*,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DIN Next Arabic regular";
  color: #ffffff;
}
body {
  position: relative;
  background-color: var(--body_color);
}

section {
  overflow: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff !important;
}
img {
  width: 100%;
  height: auto;
}

@media (min-width: 1550px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 90%;
  }
}
@media (max-width: 1550px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 85%;
  }
}
@media (max-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 95%;
  }
}
@media (max-width: 576px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 94%;
  }
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--body_color);
}

::-webkit-scrollbar-thumb {
  background: #d4af37a6;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main_color);
}
::selection {
  background-color: var(--main_color);
}
/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}
/* ---------- */
.loading {
  position: fixed;
  background-color: var(--body_color);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img {
  width: 4rem;
}
.HideLoading {
  display: none !important;
}
/* button of go to top of page */
.hide {
  display: none !important;
}

.toTop {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  background-color: #000;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 100;
  display: flex;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}

.toTop img {
  width: 1.3rem;
}
.toTop:hover {
  opacity: 1;
}
@media (max-width: 992px) {
  .toTop {
    bottom: 2rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
  .toTop img {
    width: 1rem;
  }
}
.dropdown .dropdown-item {
  text-align: left;
  color: grey !important;
  font-family: "DIN Next Arabic regular";
}
.dropdown .dropdown-menu {
  border-radius: 0;
  max-height: 15rem;
  overflow: auto;
}
/* -------------------------------------------------end stander */
/* -------------------------------------------------start header */
header {
  width: 100%;
  height: 100vh;
  background-image: url(../imges/HeaderBack.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
header .container {
  width: 100%;
  height: 100vh;
  position: relative;
}
header .FstHeader .navbar-brand a {
  width: auto;
}
header .FstHeader .navbar-nav li {
  margin: 0 0.7rem;
}
header .FstHeader .navbar-nav li a {
  font-size: 22px;
  padding: 0.2rem 0.4rem 0.4rem !important;
  display: inline-block;
  font-family: "DIN Next Arabic LIGHT";
  border-radius: 0.2rem;
}
header .FstHeader .navbar-nav > li:hover > a {
  animation: wiggle 2s linear infinite;
}
header .FstHeader .navbar-nav > li:first-of-type {
  margin-right: 3rem;
  font-size: 22px;
  padding: 0.2rem 0.4rem 0.4rem !important;
  display: inline-block;
  font-family: "DIN Next Arabic LIGHT";
  border-radius: 0.2rem;
}

header .FstHeader .navbar-nav > li:nth-of-type(2) > a {
  border: 1px solid #ffffff3f;
  min-width: 8rem;
  text-align: center;
}
header .FstHeader .navbar-nav > li:nth-of-type(3) > a {
  border: 1px solid var(--main_color);
  background-color: var(--main_color);
  min-width: 7rem;
  text-align: center;
}

header .FstHeader .navbar-nav > li:nth-of-type(4) {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
}

header .FstHeader .navbar-nav > li:nth-of-type(4) img {
  width: auto;
}

header .SecHeader {
  position: relative;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .SecHeader > div.HeaderSwiper {
  overflow: hidden;
  text-align: center;
  direction: rtl;
}
header .SecHeader > div.HeaderSwiper .swiper-slide p {
  font-size: 80px;
  text-transform: uppercase;
}
header .SecHeader > div.HeaderSwiper .swiper-slide p span {
  color: var(--main_color);
}
header .SecHeader > div.HeaderSwiper .swiper-slide a {
  background-color: var(--main_color);
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  font-size: 25px;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  font-family: "DIN Next Arabic LIGHT";
}
header .SecHeader > div.HeaderSwiper .swiper-slide a:hover {
  animation: wiggle 2s linear infinite;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main_color);
  width: 4rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button::after {
  display: none;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button.swiper-button-prev1 {
  right: 0;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button.swiper-button-next1 {
  left: 0;
}
header .SecHeader > div.HeaderSwiper .swiperBtn button img {
  width: auto;
}
header .outer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .outer p {
  font-size: 25px;
}
.swiper-pagination {
  position: relative !important;
  width: unset !important;
}
.swiper-pagination span {
  width: 0.8rem;
  display: block;
  margin: auto !important;
  margin-bottom: 0.7rem !important;
  height: 0.8rem;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 50%;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main_color);
  width: 1.1rem;
  height: 1.1rem;
}

/* for language swiper */
header .SecHeader > div.HeaderSwiper .swiperBtn button {
  transform: rotate(180deg);
}
/* ------------------ */
@media (max-width: 1550px) {
  header .FstHeader .navbar-nav li a {
    font-size: 18px;
  }
  header .FstHeader .navbar-nav > li:first-of-type {
    margin-right: 2rem;
    font-size: 19px;
  }

  header .FstHeader .navbar-nav > li:nth-of-type(2) > a {
    min-width: 7rem;
  }
  header .FstHeader .navbar-nav > li:nth-of-type(4) > a {
    margin-left: 2rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 45px;
    line-height: 4.5rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide a {
    border-radius: 0.2rem;
    font-size: 18px;
    margin-bottom: 4rem;
  }
  header .SecHeader > div.HeaderSwiper .swiperBtn button {
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.4rem;
  }

  header .outer p {
    font-size: 18px;
  }
  header .SecHeader {
    height: 80%;
  }
  .swiper-pagination span {
    width: 0.7rem;
    margin-bottom: 0.5rem !important;
    height: 0.7rem;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 992px) {
  header {
    height: unset !important;
  }
  header .container {
    height: unset !important;
  }
  header .navbar-nav {
    justify-content: center;
    flex-direction: unset;
  }
  header .FstHeader .navbar-nav li {
    margin: 0 0 1rem 0;
  }
  header .FstHeader .navbar-nav li a {
    font-size: 17px;
  }
  header .FstHeader .navbar-nav > li:first-of-type {
    margin-right: 2rem;
    font-size: 18px;
  }

  header .FstHeader .navbar-nav > li:nth-of-type(2) > a {
    margin-right: 1rem;
  }

  header .FstHeader .navbar-nav > li:nth-of-type(4) > a {
    margin-left: 2rem;
  }

  header .SecHeader {
    height: auto;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 25px;
    line-height: 2.6rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide a {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
  }
  header .SecHeader > div.HeaderSwiper .swiperBtn button {
    width: 2.5rem;
    height: 2rem;
    border-radius: 0.1rem;
  }
  header .outer {
    width: 95%;
  }

  header .outer p {
    font-size: 15px;
  }

  .swiper-pagination span {
    width: 0.5rem;
    margin-bottom: 0.5rem !important;
    height: 0.5rem;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 0.9rem;
    height: 0.9rem;
  }
}
@media (max-width: 576px) {
  header .container,
  header {
    height: 100vh !important;
    background-size: 100% 100%;
  }
  header .SecHeader {
    height: 80vh;
  }
  header .navbar .navbar-brand {
    width: 60%;
  }
  header .navbar-nav {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  header .FstHeader .navbar-nav li a {
    font-size: 15px;
  }
  header .FstHeader .navbar-nav > li:first-of-type {
    margin-right: 0rem;
    width: 100%;
    font-size: 15px;
  }
  header .FstHeader .navbar-nav > li:nth-of-type(4) > button {
    margin-left: 1rem;
  }

  header .FstHeader .navbar-nav > li:nth-of-type(2) > a {
    margin-right: 1rem;
  }
  header .FstHeader .navbar-nav > li:nth-of-type(4) {
    width: 100%;
  }
  header .FstHeader .navbar-nav > li:nth-of-type(4) > a {
    margin-left: 0rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide p {
    font-size: 18px;
    line-height: 2.2rem;
  }

  header .SecHeader > div.HeaderSwiper .swiper-slide a {
    font-size: 13px;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
  }
  header .SecHeader > div.HeaderSwiper .swiperBtn button {
    width: 2.1rem;
  }
  header .outer {
    width: 90%;
  }

  header .outer p {
    font-size: 11px;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 0.8rem;
    height: 0.8rem;
  }
}

/* ------------------------------------------------------------end header */

/* --------------------------------------------------------------start main */
/* -------start CategoriesSearch */
.CategoriesSearch {
  margin-top: 5rem;
  z-index: 100;
  position: relative;
}
.CategoriesSearch .title {
  font-size: 70px;
  text-align: center;
  color: var(--main_color);
  text-transform: uppercase;
  font-family: "DIN Next Arabic LIGHT";
  font-weight: 600;
}
.CategoriesSearch .SearchBlock {
  width: 85%;
  background-color: var(--body2_color);
  margin: 2rem auto;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem 2rem 1rem;
}
.CategoriesSearch .SearchBlock > p {
  font-size: 45px;
}
.CategoriesSearch .SearchBlock > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;
}
.CategoriesSearch .SearchBlock > div .dropdown {
  background-color: #ffffff;
  width: 48%;
  border-radius: 0.2rem;
}

.CategoriesSearch .SearchBlock > div .dropdown > button {
  padding: 0.8rem 1.5rem;
  text-align: left;
  font-size: 20px;
  width: 100%;
  color: grey;
  box-shadow: none;
  position: relative;
  font-family: "DIN Next Arabic regular";
}

.CategoriesSearch .SearchBlock > div .dropdown > button::after {
  display: none;
}
.CategoriesSearch .SearchBlock > div .dropdown > button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-image: url(../imges/arrowBottom.png);
  width: 1.5rem;
  background-repeat: no-repeat;
  height: 1.5rem;
  display: flex;
  align-items: center;
  background-position: center;
  justify-content: center;
  background-size: auto;
}

.CategoriesSearch .SearchBlock > div .dropdown .dropdown-menu {
  width: 100%;
}
.CategoriesSearch .SearchBlock > div .dropdown .dropdown-menu a {
  color: grey !important;
  font-size: 20px;
}

@media (max-width: 1550px) {
  .CategoriesSearch {
    margin-top: 4rem;
  }
  .CategoriesSearch .title {
    font-size: 51px;
  }
  .CategoriesSearch .SearchBlock {
    margin: 2rem auto 3rem;
    padding: 2rem 2rem 2rem;
  }

  .CategoriesSearch .SearchBlock > p {
    font-size: 35px;
  }
  .CategoriesSearch .SearchBlock > div {
    margin: 1rem auto;
  }

  .CategoriesSearch .SearchBlock > div .dropdown > button {
    padding: 0.6rem 1.2rem;
    font-size: 17px;
  }

  .CategoriesSearch .SearchBlock > div .dropdown .dropdown-menu a {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .CategoriesSearch {
    margin-top: 3rem;
  }
  .CategoriesSearch .title {
    font-size: 30px;
  }
  .CategoriesSearch .SearchBlock {
    margin: 1rem auto 2rem;
    padding: 1rem 1rem 1rem;
  }

  .CategoriesSearch .SearchBlock > p {
    font-size: 22px;
  }

  .CategoriesSearch .SearchBlock > div .dropdown > button {
    padding: 0.5rem 1rem;
    font-size: 15px;
  }

  .CategoriesSearch .SearchBlock > div .dropdown .dropdown-menu a {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .CategoriesSearch .SearchBlock > div {
    display: block;
  }
  .CategoriesSearch .SearchBlock > div .dropdown {
    width: 100%;
    margin-bottom: 0.6rem;
  }

  .CategoriesSearch .title {
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .CategoriesSearch .SearchBlock {
    padding: 1rem 1rem 1rem;
    width: 100%;
  }

  .CategoriesSearch .SearchBlock > p {
    font-size: 19px;
  }
}
/* -------end CategoriesSearch */
/* -------start AllItems */
.AllItems {
  background-color: var(--body2_color);
  border-radius: 0.8rem;
  text-align: center;
  padding: 4rem;
}

.AllItems .card {
  background-color: var(--body3_color);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 1rem;
}
.AllItems .card .card-img-top {
  position: relative;
}
.AllItems .card .card-img-top::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}
.AllItems .card:hover {
  transform: scale(1.05);
}
.AllItems .card:hover .card-img-top::after {
  opacity: 0;
}
.AllItems .card .card-body {
  padding: 1rem 2rem;
}
.AllItems .card .card-body > p {
  font-size: 25px;
}
.AllItems .card .card-body > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AllItems .card .card-body > div p {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.AllItems .card .card-body > div p img {
  width: auto;
  margin-right: 0.5rem;
}

.AllItems .more {
  position: relative;
  width: 100%;
  margin: 2rem 0 0;
}
.AllItems .more button {
  background-color: transparent;
  border: none;
}
.AllItems .more button:first-of-type {
  animation: moving 1s ease-in-out infinite alternate;
}
.AllItems .more button:last-of-type {
  position: absolute;
  top: 50%;
  right: 0;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 0.5rem 2.5rem;
  transition: all 0.3s ease-in-out;
}
.AllItems .more button:last-of-type:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 1550px) {
  .AllItems {
    padding: 3rem;
  }

  .AllItems .card .card-body {
    padding: 1rem 1rem;
  }
  .AllItems .card .card-body > p {
    font-size: 18px;
  }

  .AllItems .card .card-body > div p {
    font-size: 1rem;
  }
  .AllItems .card .card-body > div p img {
    margin-right: 0.4rem;
  }
  .AllItems .more {
    margin: 1rem 0 1rem;
  }

  .AllItems .more button:last-of-type {
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 992px) {
  .AllItems {
    padding: 2rem;
  }

  .AllItems .card .card-body {
    padding: 1rem 1rem;
  }
  .AllItems .card .card-body > p {
    font-size: 15px;
  }

  .AllItems .card .card-body > div p {
    font-size: 0.8rem;
  }

  .AllItems .more button:last-of-type {
    padding: 0.4rem 1rem;
  }
}
@media (max-width: 576px) {
}
/* -------end AllItems */

/* --------------------------------------------------------------end main */

/* -------------------------------------------------------------------start footer */
footer .FstFooter {
  background-color: #000;
  padding: 4rem 0;
  margin-top: 4rem;
}
footer .FstFooter img {
  width: auto;
}
footer .FstFooter > div > div > div:first-of-type p {
  font-size: 26px;
  padding-right: 5rem;
  font-family: "DIN Next Arabic LIGHT";
  line-height: 3rem;
}
footer .FstFooter .listTitle {
  font-size: 28px;
  color: var(--main_color);
  margin-bottom: 3rem;
}

footer .FstFooter > div > div > div:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a {
  margin-right: 1rem;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a img {
  width: auto;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
footer .FstFooter > div > div > div:nth-of-type(2) > div a:hover img {
  transform: scale(1.1);
  opacity: 1;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul {
  margin: 0;
  padding: 0;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul li {
  margin-bottom: 1rem;
  font-size: 20px;
}
footer .FstFooter > div > div > div:nth-of-type(3) ul li img {
  margin-right: 0.6rem;
}

footer .SecFooter {
  background-color: var(--body2_color);
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

@media (max-width: 1550px) {
  footer .FstFooter {
    padding: 3rem 0;
    margin-top: 3rem;
  }

  footer .FstFooter > div > div > div:first-of-type p {
    font-size: 17px;
    padding-right: 2rem;
    line-height: 2.5rem;
  }

  footer .FstFooter .listTitle {
    font-size: 23px !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(2) > div a {
    margin-right: 0.8rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(3) ul li {
    margin-bottom: 0.7rem;
    font-size: 17px;
  }

  footer .SecFooter {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  footer .FstFooter {
    padding: 2rem 0;
    margin-top: 2rem;
  }

  footer .FstFooter > div > div > div:first-of-type p {
    font-size: 15px;
    padding-right: 0rem;
    line-height: 2rem;
  }

  footer .FstFooter .listTitle {
    font-size: 17px;
    margin-bottom: 1rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(2) > div a {
    margin-right: 0.7rem;
  }

  footer .FstFooter > div > div > div:nth-of-type(3) ul li {
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  footer .FstFooter > div > div > div:nth-of-type(3) ul li img {
    margin-right: 0.4rem;
  }

  footer .SecFooter {
    padding: 0.7rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  footer .FstFooter > div > div > div:first-of-type img {
    margin-left: -1rem;
  }
  footer .FstFooter > div > div > div:nth-of-type(2) > div a {
    margin-right: 0.7rem;
    width: 2rem;
  }
}

/* -------------------------------------------------------------------end footer */
