/* ----------------------------------------------------- start variables */
:root {
  --main_color: #d4af37;
  --body_color: #1e1e1e;
  --body2_color: #333333;
  --body3_color: #2a2b31;
}
@font-face {
  font-family: "DIN Next Arabic ULTRALIGHT";
  src: url(../../fonts/DIN_NEXT_ARABIC_ULTRALIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic LIGHT";
  src: url(../../fonts/DIN_NEXT_ARABIC_LIGHT.otf);
}
@font-face {
  font-family: "DIN Next Arabic MEDIUM";
  src: url(../../fonts/DIN_NEXT_ARABIC_MEDIUM.otf);
}

@font-face {
  font-family: "DIN Next Arabic regular";
  src: url(../../fonts/DIN_NEXT_ARABIC_REGULAR.otf);
}
@font-face {
  font-family: "DIN Next Arabic BOLD";
  src: url(../../fonts/DIN_NEXT_ARABIC_BOLD.otf);
}
@keyframes moving1 {
  0% {
    bottom: 70%;
    right: -10%;
  }
  100% {
    bottom: -15%;
    right: 40%;
  }
}
@keyframes moving2 {
  0% {
    top: -10%;
    right: 40%;
  }
  100% {
    top: 110%;
    right: 100%;
  }
}

/* ----------------------------------------------------- end variables */
/* -------------------------------------------------start stander */
*,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DIN Next Arabic regular";
  text-align: right;
}
body {
  background-color: #f8fafb;
  overflow-x: auto;
  direction: rtl;
}

input {
  outline: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--body_color);
}

::-webkit-scrollbar-thumb {
  background: #d4af37a6;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main_color);
}
.SignUp {
  width: 100%;
  overflow: hidden !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.SignUp .outerImgs .bigImg {
  position: absolute;
  top: -31%;
  right: -8%;
  z-index: -1;
}
.SignUp .SignUpForm {
  width: 35%;
  background-color: #fff;
  padding: 4rem 5% 1.5rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.03),
    -5px -5px 12px rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
  margin: 3rem 0;
  position: relative;
}
.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.back svg {
  width: 2rem;
  fill: var(--main_color);
}
@media (max-width: 1550px) {
  .back svg {
    width: 1.6rem;
    height: 1.5rem;
  }
}
.SignUp .smallImg1 {
  position: absolute;
  z-index: -1;
  transform: rotate(-40deg);
  animation: moving1 11s 1s ease-in-out infinite;
}
.SignUp .smallImg2 {
  position: absolute;
  z-index: -1;
  transform: rotate(-40deg);
  animation: moving2 8s ease-in-out infinite;
}
.SignUp .SignUpForm > p {
  text-align: center;
}
.SignUp .SignUpForm > p:first-of-type {
  font-size: 34px;
  text-transform: uppercase;
}
.SignUp .SignUpForm > p:last-of-type {
  font-size: 18px;
}
.SignUp .SignUpForm .input {
  margin-bottom: 1.5rem;
}
.SignUp .SignUpForm .input > label {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}
.SignUp .SignUpForm .input > div {
  position: relative;
  width: 100%;
  border: 1px solid #e8ecef;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.SignUp .SignUpForm .input > div > input {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  border: none;
  background-color: transparent;
}
.SignUp .SignUpForm .input > div > img {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.SignUp .SignUpForm .input.phone > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.SignUp .SignUpForm .input.phone > div > div:first-of-type {
  width: 30%;
  padding: 0.5rem;
  border-left: 1px solid #e8ecef;
  margin-left: 3%;
}

.SignUp .SignUpForm .input.phone > div > div:first-of-type button {
  box-shadow: none;
  width: 100%;
}
.SignUp .SignUpForm .input.phone > div > div:first-of-type button img {
  width: auto;
  margin-left: 0.5rem;
}

.SignUp .SignUpForm .input.phone > div > div:last-of-type {
  width: 67%;
  padding: 0.5rem;
  position: relative;
}
.SignUp .SignUpForm .input.phone > div > div:last-of-type input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.SignUp .SignUpForm .input.phone > div > div:last-of-type > img {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.SignUp .SignUpForm .input.Categories button {
  width: 100%;
  height: 100%;
  box-shadow: none;
  text-align: right;
}

.SignUp .SignUpForm .input.Categories button::after {
  display: none;
}
.SignUp .SignUpForm .input.Categories button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imges/arrowBottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.SignUp .SignUpForm .input.Categories .dropdown-menu {
  width: 100%;
}
.SignUp .SignUpForm > a {
  width: 100%;
  background-color: var(--main_color);
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.SignUp .SignUpForm .GoSignIn > p {
  text-align: center;
  font-size: 1rem;
}
.SignUp .SignUpForm .GoSignIn > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.SignUp .SignUpForm .GoSignIn > div a {
  font-size: 1.1rem;
  color: var(--main_color);
}
@media (max-width: 1550px) {
  .SignUp .outerImgs .bigImg {
    right: -10%;
    top: -50%;
    width: 60%;
  }
  .SignUp .SignUpForm {
    width: 40%;
    padding: 2rem 3% 1rem;
  }

  .SignUp .SignUpForm > p:first-of-type {
    font-size: 25px;
  }
  .SignUp .SignUpForm > p:last-of-type {
    font-size: 13px;
  }
  .SignUp .SignUpForm .input {
    margin-bottom: 1rem;
  }
  .SignUp .SignUpForm .input > label {
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
  }
  .SignUp .SignUpForm .input > div {
    padding: 0.3rem;
  }
  .SignUp .SignUpForm .input > div > input {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  .SignUp .SignUpForm .input > div > img {
    width: 1.3rem;
  }

  .SignUp .SignUpForm .input.phone > div > div:first-of-type {
    width: 35%;
    padding: 0.3rem;
  }
  .SignUp .SignUpForm .input.phone > div > div:first-of-type button {
    font-size: 0.9rem;
  }
  .SignUp .SignUpForm .input.phone > div > div:first-of-type button img {
    width: 1.5rem;
    margin-right: 0.4rem;
  }
  .SignUp .SignUpForm .input.phone > div > div:last-of-type {
    width: 62%;
    padding: 0.4rem;
  }
  .SignUp .SignUpForm .input.phone > div > div:last-of-type input {
    font-size: 0.9rem;
  }

  .SignUp .SignUpForm .input.Categories button::before {
    width: 1rem;
    background-size: 0.8rem;
  }

  .SignUp .SignUpForm > a {
    padding: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  .SignUp .SignUpForm .GoSignIn > p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .SignUp .SignUpForm .GoSignIn > div a {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  html {
    overflow: hidden;
  }
  .SignUp .outerImgs .bigImg {
    right: -30%;
  }
  .SignUp .SignUpForm {
    width: 65%;
  }

  .SignUp .SignUpForm > p:first-of-type {
    font-size: 26px;
  }
  .SignUp .SignUpForm > p:last-of-type {
    font-size: 14px;
  }

  .SignUp .SignUpForm .input.phone > div > div:first-of-type {
    width: 40%;
  }

  .SignUp .SignUpForm .input.phone > div > div:last-of-type {
    width: 57%;
  }

  .SignUp .SignUpForm > a {
    font-size: 1rem;
  }
  .SignUp .SignUpForm .GoSignIn > p {
    font-size: 0.8rem;
  }

  .SignUp .SignUpForm .GoSignIn > div a {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  html {
    overflow: scroll;
  }

  .SignUp .outerImgs .bigImg {
    right: -30%;
    top: -20%;
    width: 100%;
  }
  .SignUp .SignUpForm {
    width: 95%;
  }
  @keyframes moving1 {
    0% {
      bottom: 70%;
      right: -40%;
    }
    100% {
      bottom: -15%;
      right: 40%;
    }
  }
}
